# 📄 [{{ project_name }}]({{ page }}/book)

[![Created with qCradle](https://img.shields.io/badge/Created%20with-qCradle-blue?style=flat-square)](https://github.com/tschm/presentation)

## 📝 Abstract

Include an abstract here...

## 🚀 Getting started

### **📋 Update the README.md file**

Insert your abstract, add graphs, etc.
